@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --blue: #0065fc;
    --lightgrey: #f2f2f2;
    --lightblue:  #deebff;
    --lighterblue: #f3f8ff;
    --darkgrey: #d9d9d9;
    --breakpoint: 768 px;
}
/*WILDCARD*/
*{
    box-sizing: border-box;
    font-family: "Raleway", "sans serif";
}
a{
    color:inherit;
    text-decoration: none;
}

body {
    margin: 0 auto;
    max-width: 1440px;
}


/* SEARCH FORM */

.search-form {
    display: flex;
}

.search-form > *{
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
}
.search-form i {
    background-color: none;
    border-radius: 1rem 0rem 0rem 1rem ;
 }

 .search-form input{
    display: flex;
    border: 1px solid whitesmoke;
    flex-shrink: 2;
    overflow: auto;
 }

.search-form input::placeholder{
    font-size: 1rem;
    font-weight: bold;
}

.search-form button{
    background-color: #0065fc;
    color: white;
    font-size: 1rem ;
    font-weight: bold;
    border-radius: 0rem 1rem 1rem 0rem;
    border : none;
    cursor: pointer;
    opacity: 0.9
}

.search-form button:hover {
    opacity : 1 ;
    transform: scale(1.01);
}

@media (max-width: 768px) {
.search-form .search-text {
        display: none;
    }
}
@media (min-width: 767px) {
    .search-form .fa-search{
        display: none;
    }
}

.fas .fa-search {
    color: white;
    background-color: #0065fc;
    display: inline;
}

/* FILTERS */
.filter-list{
    display: flex ;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;

}
.filter .fas {
    color: blue;
    background-color: var(--lightblue);
    padding: 1rem;
    border-radius: 50%; 
    margin: -10px;
}
.filter {
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    padding: 0.5em;
    transition: all 200ms ease;
}

.filter:hover{
    transform: scale(1.02);
}

.filter span {
    font-weight: bold;
    padding: 1em;
}
 /*RESULTS-MESSAGE*/

 .results-message {
    display: flex;
    align-items: center;
    gap: 1rem;
 }

 .results-message .fas.fa-info {
    color: var(--blue);
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    

 }

 /* APPARTMENTS LIST */

 .apartments-list{
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
 }

 .apartments-list > div{
    
    background-color: var(--lightgrey);
    padding :1rem;
    border-radius: 1rem;
}

.apartments-list .city{
    flex-basis: 66%;
}

.apartments-list .popular {
    flex-basis: 33%;
}

@media (max-width: 1168px) {
    .apartments-list{
    flex-direction: column;
    flex-basis: 50%;
    }
    .popular{
        order: -1;
        flex-direction: row;
    }
    .popular-flex{
        flex-direction: row;
    }}


.apartments-list .city a {
    font-weight: bold;

}
/* LIST APARTMENTS CITY */

.city-apartments-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.city-apartments-list div{
    
    flex-basis: calc(33%-1rem);
}

/* POPULAR */

.apartments-list .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 100%;
    flex-wrap: wrap;
    min-width: 17rem;
}

@media (max-width: 768px) {
    .apartments-list .popular-flex {
    flex-direction : column;
}}

/* APARTEMENT-CARD */
.apartment-card {
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 0 0 16px #0000002e;
    flex-grow: 1;
    flex-basis: 25%
}
.apartment-card img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 7rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
    
}

.apartment-card p,
.apartment-card h4,
.popular-description p,
.popular-description h4{
    margin: 0.15em;
}



.blue {
    color: var(--blue);
}
.grey {
    color: var(--darkgrey);
}



/* POPULAR CARD */
.popular {
    display: flex;
    flex-direction: column;
}

.popular-flex {
    display: flex;
    flex-basis:100%;
    justify-content: space-around;
}

.popular-flex .apartment-card img {
    height: 8rem;
    
    margin-right: 0.5rem;
}

.apartment-card.popular-card {
    display: flex;
    flex-direction: row;
    
}

.apartment-card.popular-card > img {
    border-radius: 1rem 0rem 0rem 1rem;
    max-width: 8rem;
}

.apartment-card p,
.apartment-card h4,
.popular-description p,
.popular-description h4 {
    margin: 0.2rem;

}

.popular-description {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.popular h4 {
    display: flex;
    justify-content: space-between
}

.popular h4,
.city h4{
    margin-top: 0em;
}

.popular-description p {
    margin-bottom: auto;
}

.apartment-card .popular-card .stars {
    margin-top: auto;
}
/* ACTIVITIES */

.activities-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,25rem) );
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 5vh ;
    justify-content: center;
    max-width: 100em;
   
    
}

.activities-list > * {
    border-radius: 1rem;
    display: flex;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 9px;
    transition: all 200ms;
    ;
}

.activities-list div:hover {
    transform: scale(1.02);
}

.big {
    height: 30rem;
}

.big1 {
    grid-row: 1/-1;
    background-image: url(https://booki.mathisbarre.com/img/activity/medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
}

.big2 {
    grid-column: 3/4;
    grid-row: 1/-1;
    background-image: url(https://booki.mathisbarre.com/img/activity/medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
}
.medium1 {
    grid-row: 1 / span 3;
    background-image: url(https://booki.mathisbarre.com/img/activity/small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    
}

.medium2 {
    grid-column: 4 / -1;
    grid-row: 3/-1;
    background-image: url(https://booki.mathisbarre.com/img/activity/small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
}

.small1 {
    grid-column: 2/3;
    grid-row: 4/-1;
    background-image: url(https://booki.mathisbarre.com/img/activity/small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
}

.small2 {
    grid-column: 4/-1;
    grid-row: 1/3;
    background-size: cover;
    background-image: url(https://booki.mathisbarre.com/img/activity/small/florian-wehde-xW9e8gdotxI-unsplash.jpg)
}

@media (max-width:1500px){
    .activities-list > * {
        grid-column: span 1;
        grid-row: span 1;
        max-height: 10em;
    }
}

.activities-list h4 {
    background-color: white;
    margin-top: auto;
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
}

/* FOOTER */

footer {
    background-color: var(--lightgrey);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 200;
}

footer >* {
flex-basis: 20%;
align-items:  center;

}
